.sidebar{
    width:220px;
    height:calc(100vh - 70px);

    background:#1f2937;

    color:white;

    padding:20px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:15px;
    cursor:pointer;
    border-radius:8px;
}

.sidebar li:hover{
    background:#374151;
}